/* REGRAS CSS */

@charset "utf-8";

@import "reveal.css";
@import "class/transition.css";

@font-face {
    font-family: KanitItalic;
    src: url(../font/Kanit-SemiBoldItalic.ttf);
}

@font-face {
    font-family: KanitBold;
    src: url(../font/Kanit-Black.ttf);
}

/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: KanitItalic;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
}

:root {
    --color-before: #fc354c;
}

/* BARRA DE PROGRESSÃO */

#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    width: 0%;
    background-color: #007bff;
    z-index: 9999;
}

/* LOADING */

#loading-overlay {
    position: fixed;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-image {
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* MÚSICA */

.music-button {
    position: fixed;
    top: 20%;
    right: 5%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    animation: aparece 2s linear;
    width: 20px;
    height: 20px;
}

@keyframes aparece {
    0% {
        right: -5%
    }

    100% {
        right: 5%
    }
}

/* LOGO */

.podfalar-logo {
    width: 4em;
    height: 4em;
    filter: drop-shadow(2px 2px 2px #4343a4);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.logo-txt-lateral {
    position: relative;
    left: 5%;
}

/* MENU DE NAVEGAÇÃO */

#menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 5em;
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: transparent;
    color: #000;
    transition: background-color .4s ease-out;
}

#menu.scrolled {
    background-color: #fcf7c5;
    color: #000;
}

.lista.scrolled {
    color: black;
}

.lista {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: all .6s linear;
}

.lista:hover> :not(:hover) {
    opacity: .4;
}

.link {
    color: #000;
    transition: all .3s ease-in-out;
    filter: drop-shadow(2px 2px 2px gray);
    position: relative;
    left: 100px;
    font-size: 1.2em;
}

.link:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

/* MENU RESPONSIVO */

.menu-responsive {
    display: none;
}

.navbar {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.burguer {
    z-index: 3;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 88px;
    height: 88px;
    background-image: url("../img/menu.png");
    background-repeat: no-repeat;
    background-position: center;
}

.burguer,
.menu {
    position: fixed;
}

.menu {
    z-index: 2;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 400px;
    height: 100%;
    background-color: #07030a;
    translate: -100% 0;
    transition: translate .375s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.menu nav {
    opacity: 0;
}

.menu nav:hover a {
    opacity: .25;
}

.menu nav a:hover {
    opacity: 1;
}

.menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu a {
    position: relative;
    color: #f9f9f9;
    font-size: 32px;
    padding: 20px 0;
    width: 300px;
    text-decoration: none;
}

.menu a,
.menu a::before,
.menu a::after {
    transition: .4s;
}

.menu a::before,
.menu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
}

.menu a::before {
    opacity: 0;
    background: rgb(255, 255, 255 / 20%);
}

.menu a::after {
    transform: scaleX(0);
    transform-origin: 0% 50%;
    background-color: #f7f7f7;
}

.menu a:hover::before {
    opacity: 1;
}

.menu a:hover::after {
    transform: scaleX(1);
}

body.open .menu {
    opacity: 1;
    visibility: visible;
    translate: 0;
    animation: menu-in 0.375s;
}

body.open .menu nav {
    opacity: 1;
}

body.open .burguer {
    background-image: url("../img/close.png");
}

body.open .menu a {
    animation: appear 0.25s backwards;
}

/* USUÁRIO */

.user {
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    top: 1.2%;
}

.user:active {
    animation: user .2s ease-in-out;
}

.login {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    background-color: var(--color-before);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.link-user {
    cursor: pointer;
    color: black;
}

.link-login {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.out {
    background-color: red;
    padding: 2px;
    border-radius: 10px;
    color: #fff;
    position: relative;
    top: -1%;
}

.details-active {
    background-color: rgba(0, 0, 0, 0.5);
}

#background-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

#details-user[open]+#background-overlay {
    display: block;
}

#toggle-details {
    margin-bottom: 20px;
}

.container-details {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 30%;
}

.infor-main {
    background: radial-gradient(circle at center, #ff96a8, #8d3a69);
    border-end-end-radius: 50%;
    border-end-start-radius: 50%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 15px;
    color: white;
}

.infor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.infor button {
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: 100%;
    color: #000;
    cursor: pointer;
}

.infor hr {
    width: 99%;
}

.infor img {
    width: 2em;
    margin-right: 10px;
}

.profile-image {
    width: 30px;
    height: 30px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
}

.profile-image img {
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    display: none;
}

.overlay img {
    max-width: 70%;
    max-height: 70%;
}

.information {
    display: flex;
    align-items: center;
}

/* CONTEÚDO PRINCIPAL */

#main-text-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 21em;
    background-image: url("../img/PodFalar-main.png");
    background-size: 100% 110%;
    height: 100vh;
}

.podfalar-txt-main {
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: -70%;
    right: -15%;
    width: 80vw;
    font-size: 1.3em;
    text-align: center;
    color: black;
    font-family: KanitItalic;
    user-select: none;
}

#second-infor {
    background-color: rgb(252, 248, 237);
    padding: 20%;
    height: 120vh;
}

.txt-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    width: 30em;
    position: absolute;
    left: 40%;
}

.arrow-down {
    position: absolute;
    right: 5%;
    top: 30%;
    width: 8em;
    height: 4em;
    transform: rotate(90deg);
}

.table-legend {
    position: absolute;
    left: -30%;
}

/* BUTTON CHAT-BOT */

.button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0, 255, 203, .64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover,
.button:focus {
    color: #313133;
    transform: translateY(-6px);
}

.button:hover::before,
.button:focus::before {
    opacity: 1;
}

.button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.button:hover::after,
.button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

/* VOLTAR PARA CIMA */

.voltar {
    display: none;
    border-radius: 20px;
    border: none;
    background-color: #f0ec0ea9;
    width: 2em;
    height: 2em;
    z-index: 20;
    position: fixed;
    font-size: 1.5em;
    bottom: 10%;
    left: 90%;
    cursor: pointer;
}

/* TABELA */

.tabela {
    height: 20em;
    width: 40em;
    text-align: center;
}

.table-depoi {
    position: absolute;
    top: -9%;
    right: 0%;
    border: 2px solid #000;
    width: 40em;
    text-align: center;
}

.leve {
    background-color: #05d405;
    border: #000 solid 2px;
}

.interm {
    background-color: yellow;
    border: #000 solid 2px;
}

.pesado {
    background-color: red;
    border: #000 solid 2px;
}

/* CARROSEL */

#terciary-infor {
    background-color: #131320;
    color: #fff;
    height: 25em;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.slider-container {
    position: relative;
    width: 1000px;
}

.slider {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100vw;
    transition: all .6s ease-in-out;
}

.slide {
    flex-basis: 100%;
    min-width: 100%;
    padding: 20px;
    display: none;
    user-select: none;
    text-align: center;
}

.slide.active {
    opacity: 1;
    display: block;
}

.slide h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.slide p {
    font-size: 1.2rem;
}

.slider-button {
    padding: 10px;
    border: none;
    background-color: #ccc;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.next-button {
    position: absolute;
    right: -33%;
}

.slider-button:hover {
    background-color: #555;
}

.slide span:nth-child(1),
.slide span:nth-child(2),
.slide span:nth-child(5),
.slide span:nth-child(6) {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #05d405;
    color: #05d405;
}

.inter {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
    color: yellow;
}

.pesa {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    color: red;
}

/* PATROCÍNIOS */

.main-patrocinics {
    background-color: #fcf7c5;
    color: #000;
    height: 20em;
}

.reveal>h5 {
    text-align: center;
    font-family: KanitBold;
    font-size: 1.5em;
    padding: 30px;
}

.imgs-rodape {
    display: flex;
    justify-content: center;
}

.rodape-img-patrocinics {
    width: 10em;
    height: 10em;
    cursor: pointer;
}

.sinto-security,
.unicef {
    width: 20em;
    height: 8em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
