@media screen and (max-width: 600px) {
    /* REGRAS CSS */

    @import "reveal.css";

    @font-face {
        font-family: KanitItalic;
        src: url(../font/Kanit-SemiBoldItalic.ttf);
    }

    @font-face {
        font-family: KanitBold;
        src: url(../font/Kanit-Black.ttf);
    }

    /* GLOBAL */

    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none;
        font-family: KanitItalic;
        box-sizing: border-box;
    }

    body {
        background: linear-gradient(to right, #ffc0cb, #4343a4);
        background-position: 0% 50%;
    }

    /* LOGO */

    .podfalar-logo {
        width: 4em;
        height: 4em;
        filter: drop-shadow(2px 2px 2px #4343a4);
    }

    .logo {
        display: flex;
        align-items: center;
        font-size: 1.2em;
    }

    .logo-txt-lateral {
        position: relative;
        left: 5%;
    }

    .txt-logo {
        position: relative;
        top: -30%;
        left: 35%;
        font-size: 1.1em;
    }

    /* MENU DE NAVEGAÇÃO */

    #menu {
        display: flex;
        justify-content: space-evenly;
        border-radius: 0 0 20em 0;
        height: 5em;
        border-bottom: 2px solid black;
    }

    .lista {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        cursor: pointer;
        transition: all .6s ease-in-out;
    }

    .lista:hover> :not(:hover) {
        opacity: .4;
    }

    .link {
        color: #2e14ed;
        transition: all .3s ease-in-out;
        filter: drop-shadow(2px 2px 2px gray);
        position: relative;
        left: 100px;
        font-size: 1.2em;
    }

    .link:hover {
        transform: scale(1.1);
        text-decoration: underline;
    }

    /* USUÁRIO */

    .user {
        width: 60px;
        height: 60px;
        cursor: pointer;
        position: absolute;
        top: 1.2%;
    }

    .user:active {
        animation: user .2s ease-in-out;
    }

    .details {
        background-color: dodgerblue;
        position: absolute;
        right: 13%;
        top: 3%;
        z-index: 200;
        border-radius: 20px 0 20px 20px;
        padding: 15px;
        transition: all .6s ease-in-out;
    }

    .details::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 100%;
        border-style: solid;
        border-width: 20px 10px 0 10px;
        border-color: dodgerblue transparent transparent transparent;
        transform: rotate(-90deg);
    }

    .details>h3,
    .details>span {
        font-family: KanitBold;
    }

    .details>h3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .link-user {
        color: black;
    }

    /* CONTEÚDO PRINCIPAL */

    #main-text-img {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 63px;
    }

    .podfalar-logo-main {
        display: flex;
        margin-left: -15%;
        height: 80vh;
        width: 80vw;
        animation: pula 5s ease-in-out alternate infinite;
    }

    .podfalar-txt-main {
        border: 5px solid #989cc7;
        background-color: #989cc7;
        border-radius: 50%;
        font-size: 1.3em;
        padding: 3.9em;
        text-align: center;
        color: black;
        width: 80vw;
        height: 77vh;
        font-family: KanitItalic;
    }

    .podfalar-txt-main::before {
        content: '';
        position: absolute;
        right: 5%;
        top: 80%;
        border-style: solid;
        border-width: 120px 30px 0 30px;
        border-color: #989cc7 transparent transparent transparent;
        transform: rotate(-45deg);
    }

    /* VOLTAR PARA CIMA */

    .voltar {
        border-radius: 20px;
        border: none;
        background-color: #2e14ed;
        width: 2em;
        height: 2em;
        z-index: 20;
        position: fixed;
        font-size: 1.5em;
        bottom: 10%;
        left: 90%;
        cursor: pointer;
    }

    /* TABELA */

    .ballon-legend {
        background: linear-gradient(to bottom, green, yellow, red);
        border-radius: 50%;
        height: 50vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 90px;
        font-size: 2em;
    }

    .ballon-legend::before {
        z-index: -1;
        content: '';
        position: absolute;
        right: -8.5%;
        border-style: solid;
        border-width: 120px 30px 0 30px;
        border-color: greenyellow transparent transparent transparent;
        transform: rotate(-90deg);
    }

    /* CARROSEL */

    .carousel {
        position: relative;
        height: 300px;
        width: 100%;
    }

    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.5s ease-in-out;
    }

    /* .slide.active {
        opacity: 1;
    } */

    .slide-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 50vw;
    }

    .slide-content h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .slide-content p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .btns {
        text-align: center;
        display: flex;
        justify-content: space-between;
    }

    .next,
    .prev {
        cursor: pointer;
        background-color: #2e14ed;
        padding: 20px;
        border-radius: 50%;
        width: 1em;
        height: 1em;
    }

    /* PATROCÍNIOS */

    .main-patrocinics {
        background-color: black;
        color: #fff;
        height: 20em;
    }

    .main-patrocinics>h5 {
        text-align: center;
    }

    .imgs-rodape {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .rodape-img-patrocinics {
        width: 15em;
        height: 15em;
    }
}
