@import url(class/transition.css);

body {
    background-color: #ffffff;
}

.fas {
    width: 2em;
    height: 2em;
    z-index: 5;
}

.col01 {
    display: grid;
    grid-template-columns: repeat(2, 18em);
    gap: 10px;
}

.col02 {
    display: grid;
    grid-template-columns: repeat(2, 18em);
    gap: 10px;
}

section {
    margin-top: -20px;
}

#form2Example27 {
    cursor: pointer;
}

.voltar {
    width: 4em;
    height: 4em;
    z-index: 999;
    position: absolute;
    top: 5%;
    left: 1%;
    cursor: pointer;
    animation: cair 5s ease-in-out;
}

@keyframes cair {
    0% {
        top: -20%;
    }
    50% {
        top: 6%;
    }
    100% {
        top: 5%;
    }
}
