/* ANIMAÇÃO DA LOGO DO PODFALAR ROTACIONANDO */
@keyframes pula {

    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(180deg);
    }
}

/* ANIMAÇÃO DO USUÁRIO "AFUNDANDO" */
@keyframes user {
    0% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes sobe-desce {
    100% {
        opacity: 1;
        transform: scale(1.1);
    }
}

@keyframes menu-in {
    0% {
        clip-path: ellipse(60% 60% at 0% 50%);
    }

    100% {
        clip-path: ellipse(120% 120% at 0% 50%);
    }
}

@keyframes appear {
    0% { opacity: 0; translate: -30px 0; }
    100% { opacity: 1; }
}
