/* ANIMAÇÃO DA LOGO DO PODFALAR ROTACIONANDO */
@keyframes pula {

    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(180deg);
    }
}

/* ANIMAÇÃO DO USUÁRIO "AFUNDANDO" */
@keyframes user {
    0% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}
